@import 'variables';

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

* {
    font-family: sans-serif, Calibri;
}

.header {
    width: 100%;
    height: 70px;
    background-color: $main-color;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    color: white;
    display: table;
    position: relative;

    h1 {
        margin: 0;
        margin-left: 20px;
        display: inline;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
    
    .menu {
        list-style: none;
        margin: 0;
        display: inline;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);

        @media only screen and (max-width: 400px) {
            background-color: beige;
        }
    }
    
    .menu > li {
        display: inline;
        margin-right: 20px;
    }
}

.main {
    flex: 1 0 auto;
    position: relative;

    .aside {
        width: 20%;
        height: 100%;
        position: absolute;
        right: 0;
        background-color: pink;

        span {
            color: white;
            position: absolute;
            top: 10%;
            left: 5%;
        }

        ul {
            @extend span;
            top: 15%;
            
            a {
                color: white;
                text-decoration: none;
                display: block;
                margin-bottom: 5%;
            }
        }
    }
}

.footer {
    width: 100%;
    height: 50px;
    background-color: $main-color;
}